.row{
    padding-top: 1vw;
    padding-bottom: 4vw;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
}
.row > * {
    padding-left: 5vw;
    padding-right: 5vw;
}

footer {
    padding: 4vw 2vw 2vw 2vw;
}

header.row {
    padding-top: 4vw;
}

body {
    background-color: #171717;
    color: #e5e5e5;

    background-size: 25% 100%;
    background-image: linear-gradient(to right, dimgrey 1px, transparent 1px);
    background-position: -1px;
}

h1, h2, .address, .copyright, .footer-text {
    font-family: Suisseintl,sans-serif;
}
.intro-text {
    font-family: Helveticaneuecyr roman,sans-serif;
}

h1 {
    max-width: 1500px;
    margin-right: 50px;
    font-size: 4.2vw;
    line-height: 4.8vw;
    margin-bottom: 10vW;
    font-weight: 900;
}
h2 {
    font-size: 30px;
    line-height: 40px;
    font-weight: 900;
    padding-top: 40px;
}
.vac-links{
    padding-top: 2vw;
}
.vac-link {
    display: inline;
    border-bottom: 1px solid #e8e8e8;
    color: #e5e5e5;
    font-size: 19px;
    line-height: 30px;
    text-decoration: none;
}
.langs > a {
    color: hsla(0,0%,100%,.5);
    text-decoration: none;
    display: inline-block;
    margin-right: 2vw;
}

.intro-text {
    max-width: 800px;
    color: #e5e5e5;
    font-size: 19px;
    line-height: 30px;
    font-weight: 400;
}
.white-block{
    color: black;
    background-color: #f2f2f2;
}
img.light{
    filter: brightness(135%) grayscale(100%);
}
img.dark{
    filter: brightness(41%) grayscale(100%);
}

.between {
    justify-content: space-between;
}

.address{
    display: inline;
    padding-right: 0;
    color: #171717;
    font-size: 30px;
    line-height: 40px;
    font-weight: 900;
}
.social {
    margin-top: 1vw;
}

.footer-text{
    margin-top: 50px;
    color: #171717;
    font-size: 19px;
    line-height: 30px;
}

.copyright {
    color: #171717;
}
